.about-page {
  padding: 15px;
}

.about-page .header{
  display: inline-block;
}

.about-page p {
  margin-left: 8px;
  margin-right: 8px;
  text-align: left;
}

.about-page a {
  font-weight: bold;
}

.about-page .accs-footer {
  border-top: 1px solid var(--gold);
  margin: 20px 8px;
  padding-top: 20px;
  color: var(--gray);
}

.about-page .accs-footer ul {
  list-style-type: none;
  padding-left: 1.2em;
  margin: none;
}

.about-page .accs-footer-left-column {
  width: 300px;
  float: left;
}

.about-page .accs-footer-right-column {
  margin-left: 20px;
  width: 200px;
  float: left;
  font-size: 11px;
}

.about-page .accs-footer-logo {
  display: block;
  background-image: url(/images/logo/arlva_footer_logo.png);
  width: 273px;
  height: 108px;
}

.about-page .accs-footer-text {
  margin-top: 15px;
  font-size: 10px;
}