/**
 * Modal
 */

.Modal {
  top: 54px;

  border: 2px solid var(--black);
  border-radius: var(--border-radius);
  background-color: white;

  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 320px;
  width: 100%;
}

.Modal > div {
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  -moz-scrollbar: none;
  -ms-overflow-style: none;
}

.Modal > div::-webkit-scrollbar {
  width: 0 !important;
}

/* Cause FF ugh... */
@-moz-document url-prefix() {
  .Modal > div {
    padding-right: 25px;
    margin-right: -40px;
  }
}

@media (--narrow-window) {
  .Modal {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: none;
    border-radius: 0;
  }
}

.Modal.hide {
  opacity: 0;
}

.Modal .close {
  color: var(--gray);
}

.Modal .close:hover,
.Modal .close:active {
  color: color(var(--gray) shade(20%));
}

/**
 * Overlay
 */

.Overlay {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.55) 100%);
  z-index: 200;
}
