
.RouteModal > .segments {
  text-align: center;
}

.RouteModal > h3 {
  text-align: center;
  margin: 15px 0;
}

.RouteModal-rideshareMatches {
  margin: 10px 0 10px;
  padding: 8px;
  background-color: #eee;
  border-radius: 5px;
}

.RouteModal-commuterConnectionsLogo {
  width: 100%;
  display: inline-block;
  background-image: url(/assets/images/application/commuter-connections.png);
}
