
.Locations {
  padding-top: 7px;
}

.Locations [class*="icon-"] {
  font-size: 20px;
}

.Locations .icon-start {
  color: var(--vta-dark-blue);
}

.Locations .icon-end {
  color: var(--vta-burgundy);
}

.Locations .input-group {
  width: 100%;
  margin-top: 1px;
}

.Locations > .input-group > .add-on {
  position: absolute;
  height: 40px;
  line-height: 40px;
  width: 32px;
  text-align: center;
}

.Locations .input-group.suggestions-open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.Locations input {
  padding: 13px 32px 11px 32px;
  color: var(--black);
  box-shadow: none;
  border: none;
  width: 100%;
  text-overflow: ellipsis;
  background-color: #fff;
  border-radius: var(--border-radius);
}

.Locations > .input-group:first-of-type > input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Locations > .input-group:last-of-type > input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Locations > .input-group > .clear {
  cursor: pointer;
  color: var(--gray);
  right: 0;
  top: 0;
  font-size: 16px;
}

.Locations input:focus {
  box-shadow: none;
  outline: none;
}

/**
 * Suggestions
 */

.Locations .suggestions {
  position: absolute;
  z-index: 151;
  background-color: #fff;

  margin-top: -3px;
  padding-left: 0;

  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  transition: max-height 0.25s, opacity 0.25s, visibility 0.25s;

  width: 100%;
}

.Locations .suggestions.empty {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.Locations .suggestion {
  list-style-type: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  padding: 8px;
  border-bottom: 1px solid var(--light-blue);
  cursor: pointer;
  color: var(--black);
}

.Locations .suggestion:last-of-type {
  border-bottom-color: var(--black);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.Locations .suggestion.highlight {
  background-color: var(--gold);
  color: #fff;
}

.Modal .Locations {
  padding: 0;
  margin: 15px 0;
}

.Modal .Locations > .input-group {
  margin: 0;
}

.Modal .Locations > .input-group > input {
  border: 1px solid var(--gray);
  padding-top: 11px;
}

.Modal .Locations > .input-group:first-of-type > input {
  border-bottom: none;
}

.Modal .Locations .suggestions {
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}
