
.Locations {
  padding-top: 7px;
}

.Locations [class*="icon-"] {
  font-size: 20px;
}

.Locations .icon-start {
  color: var(--primary-color);
}

.Locations .icon-end {
  color: var(--secondary-color);
}

.Locations .input-group {
  width: 100%;
  margin-top: 1px;
}

.Locations > .input-group > .add-on {
  position: absolute;
  height: 40px;
  line-height: 40px;
  width: 24px;
  text-align: center;
}

.Locations > .input-group > .favorite {
  right: 24px;
}

.Locations .input-group.suggestions-open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.Locations input {
  padding: 13px 48px 11px 32px;
  color: var(--font-color);
  box-shadow: none;
  border: none;
  width: 100%;
  text-overflow: ellipsis;
  background-color: #fff;
  border-radius: var(--border-radius);
}

.Locations > .input-group:first-of-type > input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Locations > .input-group:last-of-type > input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Locations > .input-group > i.add-on {
  cursor: pointer;
  color: var(--font-light-color);
  top: 0;
  font-size: 16px;
}

.Locations > .input-group > i.right {
  right: 0;
}
.Locations input:focus {
  box-shadow: none;
  outline: none;
}

.Modal .Locations {
  padding: 0;
  margin: 15px 0;
}

.Modal .Locations > .input-group {
  margin: 0;
}

.Modal .Locations > .input-group > input {
  border: 1px solid var(--font-light-color);
  padding-top: 11px;
}

.Modal .Locations > .input-group:first-of-type > input {
  border-bottom: none;
}

.Modal .Locations .suggestions {
  border-left: 1px solid var(--font-light-color);
  border-right: 1px solid var(--font-light-color);
}
