
.locations {
  padding: 0 8px;
}

.locations [class*="icon-"] {
  float: left;
  font-size: 25px;
  padding-top: 9px;
  color: var(--black);
}

.locations .icon-start {
  color: var(--green);
}

.locations .icon-end {
  color: var(--gold);
}

.locations .suggestions {
  margin-bottom: 0;
  position: absolute;
  z-index: 151;
  background-color: #fff;
  margin-left: 20px;
  padding-left: 0;
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  transition: max-height 0.25s, opacity 0.25s, visibility 0.25s;
}

.locations .suggestions.empty {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.locations .suggestion {
  list-style-type: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 271px;
  display: block;
  overflow: hidden;
  padding: 8px;
  border-bottom: 1px solid var(--white);
  cursor: pointer;
  color: var(--black);
}

.locations .suggestion:last-of-type {
  border-bottom-color: var(--black);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.locations .suggestion.highlight {
  background-color: var(--gold);
  color: #fff;
}

.locations .input-group {
  padding-left: 8px;
  width: 100%;
  background-color: #fff;
  margin-top: 8px;
  border: 1px solid var(--black);
  border-radius: var(--border-radius);
}

.locations .input-group.highlight {
  border-left: 4px solid var(--black);
  padding-left: 5px;
  border-bottom-color: var(--gray);
}

.locations input {
  padding: 13px 10px 12px 5px;
  color: var(--black);
  box-shadow: none;
  border: none;
  width: 244px;
  text-overflow: ellipsis;
  background-color: #fff;
}

.locations .clear {
	cursor: pointer;
	color: var(--gray);
}

.locations input:focus {
  box-shadow: none;
  outline: none;
}
