
.locations {
  border-top: 1px solid #f2f4f5;
  font-size: 17px;
}

.locations .input-group {
  border-bottom: 1px solid #f2f4f5;
  padding-left: 10px;
  width: 100%;
}

.locations .input-group.highlight {
  border-left: 5px solid #333;
  padding-left: 5px;
}

.locations input {
  padding: 10px;
  color: #8ec449;
  box-shadow: none;
  border: none;
  width: 260px;
  text-overflow: ellipsis;
}

.locations .clear {
	cursor: pointer;
	color: #84909d;
}

.locations input:focus {
  box-shadow: none;
  outline: none;
}
