
.welcome-page {
  text-align: center;
  padding: 20px;
  background-color: var(--green);
  border: 2px solid #fff;
  width: 320px;
}

.welcome-page h1 {
  font-size: 3em;
}

.welcome-page h1,
.welcome-page h3,
.welcome-page p,
.welcome-page .btn {
  color: #fff;
}

.welcome-page .btn {
  border: 2px solid #fff;
  background: transparent;
}

.welcome-page .btn:hover {
  background-color: rgba(0,0,0, 0.1);
}

.answers {
  padding: 20px 0;
}

.answer {
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  color: var(--darkgreen);
  width: 50px;
  text-align: center;
}

.answer:hover,
.answer:active,
.answer.active {
  color: #fff;
}

.answer.active:active {
  color: var(--darkgreen);
}
