
.welcome-page {
  text-align: center;
}

.welcome-page p {
  margin-left: 8px;
  margin-right: 8px;
  text-align: left;
}

.welcome-page h3 {
  margin-top: 0;
}

.welcome-page .logo {
  background-image: url(/images/logo/1074x170.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 40px;
}

.question {
  background-color: var(--light-blue);
  margin: 20px 8px;
  padding: 15px 0 15px;
  border-radius: var(--border-radius);
}

.question .alert {
  border: none;
  border-radius: 0;
}

.answers {
  text-align: center;
}

.answer {
  display: inline-block;
  cursor: pointer;
  font-size: 33px;
  background-color: transparent;
  color: var(--lightgray);
  padding: 2px;
}

.answer.active {
  color: var(--light-blue);
  background-color: var(--black);
  border-radius: 20px;
}

.answer:hover {
  color: var(--gold);
}