
.fullscreen {
  position: relative;
  height: 100%;
  padding-right: var(--panel-width);
}

.SidePanel {
  position: absolute;
  background-color: color(var(--black) alpha(80%));
  z-index: 150;
  top: 0;
  bottom: 0;
  right: 0;
  border: 0;
  width: var(--panel-width);
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 44px;
}

@media (--narrow-window) {
  .SidePanel {
    left: 0;
    width: 100%;
  }
}

.scrollable {
  overflow-y: scroll;

  height: 100%;
  padding-top: 44px;
}

.scrollable::-webkit-scrollbar {
  width: 0 !important;
}

#locations-form {
  padding: 8px;
}

.SidePanel .title {
  width: 100%;
  color: var(--light-blue);
  font-size: 15px;
}

.SidePanel .title .fa {
  vertical-align: top;
	color: var(--light-blue);
  font-size: 20px;
}

.SidePanel .title .fa:hover,
.SidePanel .title .fa:active,
.SidePanel .title .fa:focus,
.SidePanel .footer .more-options:hover,
.SidePanel .footer .more-options:active,
.SidePanel .footer .more-options:focus {
  color: color(var(--light-blue) shade(20%));
  text-decoration: none;
}

.SidePanel .footer {
  position: absolute;
  display: block;
  bottom: 0;
  height: 44px;
  background-color: var(--black);
  box-shadow: 0 -2px 2px -1px var(--darkest);
  width: 100%;
  line-height: 32px;
}

.SidePanel .footer .btn {
  margin: 6px 8px;
}

.SidePanel .footer .more-options {
  color: var(--light-blue);
  font-size: 18px;
  height: 44px;
  display: inline-block;
  line-height: 44px;
  text-align: right;
  padding: 0 12px 0 16px;
}
