
.panel {
  position: absolute;
  background-color: color(var(--light-gray) alpha(90%));
  z-index: 150;
  top: 8px;
  bottom: 8px;
  right: 8px;
  border: 1px solid var(--black);
  border-radius: var(--border-radius);
  width: 322px;
  overflow: hidden;
  margin-bottom: 0;
}

@media (--narrow-window) {
  .panel {
    top: 0;
    bottom: 0;
    right: -1px;
    border-radius: 0;
  }
}

.scrollable {
  overflow-y: scroll;
  -moz-scrollbar: none;
  -ms-overflow-style: none;

  height: 100%;
  padding-top: 44px;
}

.scrollable::-webkit-scrollbar {
  width: 0 !important;
}

@-moz-document url-prefix() {
  .scrollable {
    padding-right: 25px;
    margin-right: -40px;
  }
}

.panel .title {
  padding: 0 8px;
  margin-top: 10px;
  width: 100%;
  color: var(--black);
}

.panel .title .fa {
  cursor: pointer;
	color: var(--gray);
  font-size: 21px;
  vertical-align: top;
}

.panel .title .icon-reverse {
  cursor: pointer;
  color: var(--gray);
  font-size: 22px;
  vertical-align: top;
}


.panel .title .fa:hover,
.panel .title .fa:active,
.panel .title .fa:visited {
  color: color(var(--gray) shade(20%));
}

.panel .title .icon-reverse:hover,
.panel .title .icon-reverse:active,
.panel .title .icon-reverse:visited {
  color: color(var(--gray) shade(20%));
}

.fullscreen {
  position: relative;
  height: 100%;
}

.tip {
  background-color: #fff;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: var(--border-radius);
  text-align: center;
  padding: 4px 5px 4px 10px;
  margin: var(--border-radius);
  box-shadow: 1px 1px 1px var(--black);
}

@media (--narrow-window) {
  .tip {
    margin: 0;
    box-shadow: 0 3px 3px var(--black);
  }
}

.tip .btn {
  color: var(--black);
  background-color: transparent;
  text-align: center
}

.tip .btn:hover {
  color: color(var(--black) shade(20%));
  background-color: transparent;
}
