
.panel {
  position: absolute;
  background-color: #edeff0;
  border-left: 1px solid #84909d;
  z-index: 1;
  top: 44px;
  bottom: 0;
  right: 0;
  border-radius: 0;
  width: 320px;
  overflow-y: scroll;
  margin-bottom: 0;
  box-shadow: none;
}

.panel .title {
  padding: 0 8px;
  margin-top: 10px;
  width: 100%;
  color: #455A71;
}

.panel .title .fa {
  cursor: pointer;
	color: #84909d;
}

.panel .title .fa:hover,
.panel .title .fa:active,
.panel .title .fa:visited {
  color: color(var(--gray) shade(20%));
}

.fullscreen {
  margin-right: 320px;
  position: relative;
  height: 100%;
}

.tip {
  background-color: #fff;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 2px;
  text-align: center;
  padding: 3px 5px 3px 10px;
  margin: 2px;
  box-shadow: 1px 1px 1px var(--black);
}

.tip .btn {
  background-color: transparent;
  text-align: center
}

.tip .btn:hover {
  color: color(var(--black) shade(20%));
}
