
.panel {
  position: absolute;
  background-color: #fff;
  border-left: 1px solid #84909d;
  z-index: 1;
  top: 44px;
  bottom: 0;
  right: 0;
  border-radius: 0;
  width: 320px;
  overflow-y: scroll;
  margin-bottom: 0;
  box-shadow: none;
}

.panel form {

}

.panel form button {
  width: 100%;
  background-color: #fff;
  border: 1px solid #84909d;
  border-left: none;
  border-right: none;
  padding: 5px 0;
}

.panel form button:hover {
  background-color: #84909d;
}

.panel form button:hover i {
  color: #fff;
}

.panel .title {
  margin: 8px;
  color: #84909d;
  font-size: 20px;
}

.panel .title .fa {
  cursor: pointer;
	color: #84909d;
}

.panel .title .fa:hover,
.panel .title .fa:active,
.panel .title .fa:visited {
	color: #000;
}

.fullscreen {
  margin-right: 320px;
  position: relative;
  height: 100%;
}

.tip {
  background-color: #8ec449;
  color: #fff;
  padding: 0 0 0 10px;
}

.tip .btn {
  background-color: transparent;
  color: #fff;
  margin-left: 10px;
  padding: 10px 12px;
}

.tip .btn:hover {
  background-color: rgba(0,0,0,0.1);
}
