lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
*.node
*.node.d
*.o
*.o.d
*.gypi
*.mk
*.obj
*.ai

.DS_Store
.env

node_modules
**/build/Makefile
**/build/*.Makefile
**/bson/build
**/contextify/build
**/kerberos/build
**/weak/build

coverage
deployment
tmp
