lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
*.node
*.node.d
*.o
*.o.d
*.gypi
*.mk

.DS_Store
.env

**/build/Makefile

config/config.yaml
config/deployments
config/env

assets/build
assets/otp

coverage
