lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
*.node
*.node.d
*.o
*.o.d
*.gypi
*.mk
*.obj
*.ai

.DS_Store
.env

# node_modules
**/build/Makefile
**/bson/build
**/contextify/build
**/kerberos/build
**/weak/build

assets/build
assets/otp

config/config.yaml
config/deployments
config/env

coverage
