
.Options ul {
  padding-left: 0;
  color: var(--black);
}

.Options .per-year {
  color: var(--lightgray);
}

.Options .RouteCard {
  list-style-type: none;
  margin: 8px 0;
}

.Options .header {
  background-color: var(--darkest);
  color: var(--light-blue);
  padding: 4px 8px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  white-space: nowrap;
}

.Options .select-button {
  float: right;
  margin: 4px 4px 0 0;
}

/**
 * Benefits Badge
 */

.RouteCard .benefits-badge {
  float: right;
  width: 125px;
  font-size: 13px;
  line-height: 1;
  text-align: right;
  margin-right: -2px;
  padding: 8px 10px 6px 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.RouteCard .benefits-badge.savings {
  background-image: url(/images/graphics/ribbon.png);
  color: var(--button-green);
}

.RouteCard .benefits-badge.time-savings {
  background-image: url(/images/graphics/time-ribbon.png);
  color: #fff;
}

.Options .simple {
  position: relative;
  background-color: #fff;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.RouteCard.expanded .simple {
  border-radius: 0;
}

.Options .details-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 4px;
}

.Options .show-details,
.Options .hide-details {
  float: right;
  margin-bottom: 4px;
}

.Options .RouteCard.expanded .simple .show-details,
.Options .RouteCard .simple .hide-details {
  display: none;
}

.Options .RouteCard.expanded .simple .hide-details {
  display: inline-block;
}

/**
 * Route Summary
 */

.RouteCard .segments {
  float: left;
  padding: 6px;
  background-color: var(--light-gray);
  border-bottom-left-radius: var(--border-radius);
  min-height: 90px;
}

.RouteCard.expanded .segments {
  border-radius: 0;
}

.RouteCard .RouteSegment > .mode {
  font-size: 20px;
}

.RouteCard .RouteSegment > .shield {
  font-size: 12px;
  height: 17px;
  margin-top: 3px;
}

.RouteCard .RouteSegment > .mode > .fa-caret-down {
  margin-top: -4px;
}

.RouteCard > .simple > .minutes-column {
  padding-top: 8px;
  float: left;
  margin-left: 8px;
  margin-bottom: 8px;
  line-height: 18px;
  white-space: nowrap;
  color: var(--gray);
}

.simple > .minutes-column > .heading {
  margin: 0 0 8px;
  color: var(--black);
  font-size: var(--h3);
}

/**
 * Expanded
 */

.RouteCard.expanded > .details {
  max-height: 10000px;
  opacity: 1;
  visibility: visible;
  background-color: #fff;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.RouteCard > .details {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  padding-bottom: 1px;
}

.RouteCard > .details > p {
  padding: 0 16px 8px;
}

/** Feedback on a route */

.Options .feedback {
  margin: 10px;
  text-align: right;
}

.hide-route {
    stroke: #E0E0E0;
}