
.Welcome {
  text-align: center;
  padding: 20px;
  text-align: left;
  font-size: 16px;
}

.Welcome .answers {
  margin-top: 15px;
}

.Welcome h3 {
	font-size: 18px;
}

.Welcome .answer {
  font-size: 18px;
  padding-left: 15px;
}
