
.Welcome {
  text-align: center;
  font-size: 16px;
  background-color: #fff;
}

.Welcome .graphic {
  height: 100px;
  background-image: url(/images/graphics/multimodal.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.Welcome .question {
  margin-top: 10px;
}

.Welcome .answers {
  margin: auto;
  margin-top: 15px;
}

.Welcome h3 {
	font-size: 18px;
  color: var(--darkest);
  line-height: 22px;
}

.Welcome .answer {
  padding-left: 25px;
  margin-top: 7px;
  padding: 10px;
  color: var(--darkest);
  font-size: 18px;
  text-align: left;
}

.Welcome i {
  font-size: 25px;
  padding-right: 28px;
  float: left;
  padding-left: 15px;
}
