
#main.Welcome {
  background-image: url(/images/application/welcome-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main.Welcome > .fullscreen {
  opacity: 0;
}

.WelcomeFlow {
  font-size: 16px;
  color: var(--darkest);
}

.WelcomeFlow h3 {
  margin: 10px 0;
  text-align: center;
  line-height: 20px;
}

.WelcomeFlow p {
  text-align: center;
  margin: 10px 0;
}

.WelcomeFlow ul {
  padding-left: 25px;
}

.WelcomeFlow .btn {
  font-size: 18px;
}

.introjs-helperLayer {
  background-color: rgba(255,255,255,.1);
}

.introjs-button {
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  text-shadow: none;
}

.introjs-overlay {
  background: rgba(0,0,0,0.75);
}

.introjs-disabled {
  display: none;
}