
#main.Welcome {
  background-image: url(/images/photos/metro.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#main.Welcome > .fullscreen {
  opacity: 0;
}

.WelcomeFlow .logo {
  margin: 5px 0 20px;
  height: 40px;
}

.WelcomeFlow h3 {
  margin-top: 0;
}

.WelcomeFlow .question {
}

.WelcomeFlow .btn {
  font-size: 16px;
}

.introjs-helperLayer {
  background-color: rgba(255,255,255,.1);
}

.introjs-button {
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  text-shadow: none;
}

.introjs-overlay {
  background: rgba(0,0,0,0.75);
}