.map {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.map-small {
  height: 200px;
}

.map-medium {
  height: 400px;
}

.map-large {
  height: 600px;
}

/**
 * Override the default colors to be Bootstrap style
 */

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

/**
 * Realtime Control
 */
.leaflet-control-realtime {
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    background: #fff;
    border-radius: 5px;
    padding: 11px 9px 7px;
    cursor: pointer;
}

.leaflet-control-realtime.active {
    background-color: #ccc;
}

.leaflet-control-realtime .leaflet-control-realtime-interior {
    position: relative;
    color: #666;
}

.leaflet-control-realtime-interior i.fa-bus {
    font-size: 14px;
}

.leaflet-control-realtime-interior i.fa-rss {
    position: absolute;
    left: 9px;
    bottom: 11px;
    font-size: 10px;
}

/**
 * Custom Icon style
 */
.leaflet-marker-icon {
  text-align: center;
  height: 25px;
  width: 25px;
    outline: none;
    border: none;
}



/**
 * Custom popup style
 */
.leaflet-popup-content-wrapper {
    background-color: rgb(200, 228, 236);
}

.leaflet-popup-content {
    margin: 15px;
}

.leaflet-popup-tip-container .leaflet-popup-tip {
    background-color: rgb(200, 228, 236);
}

.leaflet-popup-content .popup-header {
    background-color: #00587b;
    padding: 5px 10px;
    text-align: center;
    border-radius: 3px;
}

.leaflet-popup-content .popup-header > h5{
    margin: 0;
    font-weight: 600;
    color: #fff;
}

.leaflet-popup-content .popup-header > h5 a{
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.leaflet-popup-content .popup-body {
  background-color: #fff;
  margin-top: 7px;
  border-radius: 3px;
}

.leaflet-popup-content .popup-body .popup-item {
  border-top: 1px solid #ccc;
  padding: 5px 10px;
}

.leaflet-popup-content .popup-body .popup-item:first-child {
  border-top: none;
  padding-top: 6px;
}

.leaflet-popup-content .popup-body .popup-row td.label {
  padding: 10px;
  display: block;
  vertical-align: bottom;
  color: #455a71;
  text-align: center;
  font-weight: 600;
  background-color: #EDEFF0;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}

.leaflet-popup-content .popup-body .popup-row td.value {
  padding: 10px;
}

.leaflet-popup-content .popup-body .popup-row:first-child td.label {
  border-top-left-radius: 3px;
}

.leaflet-popup-content .popup-body .popup-row:last-child td.label {
  border-bottom-left-radius: 3px;
}
