
.Options ul {
  padding-left: 0;
  color: var(--black);
  font-size: 15px;
}

.Options .option {
  list-style-type: none;
  background-color: #fff;
  border-radius: 3px;
  margin: 8px;
  border-bottom: 2px solid var(--white);
}

.Options .option.expanded {
  border-bottom: none;
}

.Options .simple {
  cursor: pointer;
}

.Options .simple .segments {
  display: inline-block;
}

.Options .simple .segments .segment {
  margin-bottom: 5px;
}

.Options .simple .segments .mode {
  font-size: 26px;
  color: var(--gray);
  padding: 10px 1px 0 15px;
  display: inline-block;
  vertical-align: top;
}

.Options .simple .segments .shield {
  font-size: 11px;
  margin-top: 15px;
  margin-right: 3px;
  width: 26px;
  padding-top: 1px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  color: #fff;
  text-align: center;
  border-radius: 2px;
}

.Options .simple .segments .shield.light {
  color: var(--black);
}

.Options .simple .minutes-column {
  padding-top: 10px;
  display: inline-block;
  vertical-align: top;
  width: 120px;
  margin-left: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--gray);
}


.Options .simple .minutes-column h4 {
  padding-top: 8px;
  margin: 0 0 5px;
  font-weight: 400;
  color: var(--black);
  line-height: 11px;
}

.Options .simple .minutes-column h4 .avg {
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 15px;
  color: var(--black);
}

.Options .simple .minutes-column .pollution {
  color: var(--red);
}

.Options .simple .minutes-column .pollution-offset {
  color: var(--green);
}

.Options .simple .fare-column {
  float: right;
  text-align: center;
  line-height: 15px;
  background-color: var(--mgreen);
  color: var(--darkergreen);
  font-weight: 500;
  padding: 5px;
  border-radius: 2px;
  font-size: 14px;
}

.Options .option > .simple > .expand {
  text-align: left;
  font-size: 20px;
  margin-left: 15px;
  color: var(--lightgray);
}

.Options .option:hover > .simple > .expand {
  color: var(--black);
}

/**
 * Expanded
 */

.Options .option.expanded {
  border-bottom: none;
}

.Options .option.expanded .details {
  max-height: 10000px;
  opacity: 1;
  visibility: visible;
  border-bottom: 2px solid var(--white);
}

.Options .option .details {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.25s, opacity 0.25s, visibility 0.25s;
}

.Options .details .narrative-directions {
  border-top: 1px solid var(--white);
  margin: 15px 10px 1px 10px;
  table-layout: fixed;
  border-collapse: separate;
  font-size: 14px;
  vertical-align: top;
  color: var(--gray);
  line-height: 16px;
  font-weight: 400;
  padding: 0 15px 20px 15px;
}

.narrative-directions .transfer {
  width: 15px;
  text-align: center;
  margin-left: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.Options .details .transfer.board {
  margin-top: 14px;
  padding-top: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.Options .details .transfer.alight {
  margin-bottom: 14px;
  padding-bottom: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.Options .details .detail-route-bg {
  background-color: var(--black);
  width: 15px;
  padding-top: 44px;
  margin-left: 5px;
}

.narrative-directions .icon {
  height: 44px;
  font-size: 25px;
  color: var(--black);
  text-align: center;
}

.narrative-directions .segment > .icon > .transfer > i {
  color: #fff;
  font-size: 16px;
  display: block;
  text-shadow: 0px 0px 1px #000;
}

.narrative-directions .segment > .icon > .fa {
  color: var(--lightgray);
  font-size: 16px;
  vertical-align: top;
}

.Options .details .description {
  padding-left: 25px;
}

.Options .details .address .description {
  color: var(--green);
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
}

/**
 * Scoring Information
 */

.Options .scoring-information {
  padding: 10px 15px 10px 15px;
  background-color: rgba(181, 230, 135, 0.5);
  border-radius: 5px;
  margin:10px;
  font-size: 14px;
  color: var(--darkergreen);
  font-weight: 400;
}

.Options .scoring-information strong {
  font-size: 14px;
}

.Options .scoring-information input {
  border: none;
  font-weight: 600;
  background-color: var(--mgreen);
  color: var(--darkergreen);
  height: 20px;
  width: 50px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.Options .scoring-information button {
  background-color: var(--gray);
  text-align: center;
  color: #fff;
  border-radius: 2px;
  width: 40px;
  padding: 5px 6px 5px 0;
  font-size: 14px;
  cursor: pointer;
  outline: 0;
  box-shadow: 0;
  border: 0;
}

.Options .scoring-information button:hover {
  background-color: color(var(--gray) shade(10%));
}

.Options .scoring-information button:active {
  background-color: color(var(--gray) shade(10%));
}

.Options .scoring-information input[disabled] {
  color: var(--black);
  cursor: default;
}

.Options .scoring-information input:focus {
  outline: none;
}

.Options .scoring-information section {
  padding-top: 5px;
}

/** Feedback on a route */

.Options .feedback {
  padding: 0 15px;
  font-size: 14px;
  margin: 0;
}

.Options .feedback i {
  padding-right: 5px;
  font-size: 16px;
}

.Options .feedback p {
  color: var(--gray);
  font-size: 14px;
  margin: 5px;
}
/**
 * Font awesome rotations
 */

.fa-north {
  transform: rotate(270deg);
}

.fa-northeast {
  transform: rotate(315deg);
}

.fa-east {
}

.fa-southeast {
  transform: rotate(45deg);
}

.fa-south {
  transform: rotate(90deg);
}

.fa-southwest {
    transform: rotate(135deg);
}

.fa-west {
  transform: rotate(180deg);
}

.fa-northwest {
  transform: rotate(225deg);
}
