
.graphical-options .routes {
  padding-left: 0;
}

.graphical-options .route {
  list-style-type: none;
  cursor: pointer;
  box-shadow: 1px 1px 4px #CCC;
  margin: 3%;
  padding: 2%;
}

.graphical-options .simple .summary {
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.graphical-options .simple .expand {
  padding: 10px;
  font-size: 22px;
}

.graphical-options .route:hover .simple .expand {
  color: #84909d;
}

.graphical-options .simple .mode {
  width: 10%;
  margin-left: 2%;
}

.graphical-options .simple .shield {
  width: 10%;
  margin-left: 2%;
}

.graphical-options .simple .minutes {
  font-size: 16px;
  position: relative;
  display: inline-block;
  margin-left: 2%;
  font-weight: 300;
  line-height: 20px;
  width: 50%;

}

.graphical-options .simple .minutes strong {
  font-size: 20px;
  font-weight: 600;
}

.graphical-options .simple .minutes .subheading {
  bottom: 0;
  left: 0;
  font-weight: 200;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  display:  block;
}

.graphical-options .simple .minutes .subheading walking-time {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 200;
  color: #b7c2c4;
  padding-top: 2%;
  font-size: 10px;
  line-height: 8px;
}

.graphical-options .simple button {
  color: #fff;
  background-color: #84909d;
  border: 1px solid #84909d;
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin-top: 3%;
  padding:1%;
  width: 28%;
}

.graphical-options .simple .fare {
  font-weight: 200;
  font-size: 14px;
  border-bottom: 1px dotted #b7c2c4;
  display: inline-block;
  vertical-align: top;
}

.graphical-options .simple i {
  color: #8ec449;
  margin-left: 1%;
  vertical-align: top;
  padding-top: 3px;
}

.graphical-options .simple .segments {
  width: 100%;
  padding: 0 18px;
  height: 40px;
  box-size: border-box;
}

.graphical-options .simple .segment {
  display: inline-block;
  height: 100%;
  color: #fff;
}

.graphical-options .simple .segment .inner-text {
  padding: 10px 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-weight: bold;
}

.graphical-options .simple .segment svg {
  width: 30px;
  height: 100%;
  padding: 2px;
  fill: #fff;
}

.graphical-options .details {
  border-left: 5px solid #333;
  background-color: #eee;
  font-size: 17px;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 12px 0;
}

.graphical-options .details .detail-icon {
  width: 30px;
  background-color: #5ae3f9;
  font-size: 26px;
  text-align: center;
  vertical-align: middle;
  color: #333;
  height: 75px;
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center center;
}

.details .detail-transfer .detail-icon {
  font-size: 35px;
  background-color: transparent;
}

.graphical-options .details .detail-icon svg {
  width: 30px;
  fill: #fff;
}

.graphical-options .details .detail-address .detail-description {
  color: #8ec449;
  vertical-align: middle;
}

.graphical-options .details .detail-address .detail-icon {
  background-color: transparent;
}

.graphical-options .simple .minutes .pollution {
  color: #e21836;
}

.graphical-options .simple .minutes .pollution-offset {
  color: #8ec449;
}

.fa-north {}
.fa-northeast {
  transform: rotate(45deg);
}

.fa-east {
  transform: rotate(90deg);
}

.fa-southeast {
  transform: rotate(135deg);
}

.fa-south {
  transform: rotate(180deg);
}

.fa-southwest {
  transform: rotate(215deg);
}

.fa-west {
  transform: rotate(270deg);
}

.fa-northwest {
  transform: rotate(315deg);
}
