
.Options ul {
  padding-left: 0;
  color: var(--black);
}

.Options .per-year {
  color: var(--lightgray);
}

.Options .option {
  list-style-type: none;
  background-color: #fff;
  margin: 8px;
  border-radius: var(--border-radius);
  border-bottom: 2px solid var(--white);
  box-shadow: 0 0 2px 0 var(--white);
}

.Options .option.expanded {
  border-bottom: none;
}

.Options .simple {
  cursor: pointer;
}

.Options .simple .segments {
  display: inline-block;
  padding: 16px 0 0 16px;
}

.Options .simple .segments .segment {
  margin-bottom: 5px;
}

.Options .simple .segments .mode {
  font-size: 26px;
  color: var(--gray);
  display: inline-block;
  vertical-align: top;
}

.Options .simple .segments .shield {
  font-size: 15px;
  margin-left: 6px;
  margin-top: 6px;
  width: 32px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  color: #fff;
  text-align: center;
  border-radius: var(--border-radius);
}

.Options .simple .minutes-column {
  padding-top: 16px;
  display: inline-block;
  vertical-align: top;
  width: 120px;
  margin-left: 16px;
  white-space: nowrap;
  color: var(--gray);
}


.Options .simple .minutes-column h3 {
  margin: 6px 0 8px;
  color: var(--black);
}

.Options .simple .minutes-column h3 .avg {
  color: var(--black);
}

.Options .simple .fare-column {
  float: right;
  text-align: right;
  background-color: var(--mgreen);
  color: var(--darkergreen);
  padding: 8px;
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.Options .simple .fare-column .per-year {
  color: #fff;
}

.Options .option > .simple > .expand {
  text-align: center;
  font-size: 20px;
  margin: 8px 0;
  color: var(--lightgray);
}

.Options .option:hover > .simple > .expand {
  color: var(--black);
}

.Options .option.expanded > .simple > .expand {
  transform: rotate(180deg);
}

/**
 * Expanded
 */

.Options .option.expanded {
  border-bottom: none;
}

.Options .option.expanded .details {
  max-height: 10000px;
  opacity: 1;
  visibility: visible;
  border-bottom: 2px solid var(--white);
}

.Options .option .details {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height var(--transition-speed),
    opacity var(--transition-speed),
    visibility var(--transition-speed);
}

.Options .option .details > p {
  padding: 0 16px 8px;
}

.Options .details .narrative-directions {
  table-layout: fixed;
  border-collapse: separate;
  color: var(--gray);
  padding: 10px 15px;
  line-height: 16px;
}

.Options .details .narrative-directions tr:nth-child(even) {
  background-color: #F4FCE8;
}

.Options .details .narrative-directions tr:nth-child(odd) {
  background-color: #FFF;
}

.narrative-directions .transfer {
  width: 15px;
  text-align: center;
  margin-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Options .details .transfer.board {
  margin-top: 14px;
  padding-top: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.Options .details .transfer.alight {
  margin-bottom: 14px;
  padding-bottom: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.Options .details .detail-route-bg {
  background-color: var(--black);
  width: 15px;
  padding-top: 44px;
  margin-left: 5px;
}

.narrative-directions .icon {
  height: 44px;
  font-size: 25px;
  color: var(--black);
  text-align: center;
}

.narrative-directions .transfer > .station {
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  border: 2px solid var(--black);
}

.narrative-directions .segment > .icon > .fa {
  color: var(--gray);
  font-size: 16px;
  vertical-align: middle;
}

.Options .details .description {
  text-align: left;
  font-size: 14px;
  vertical-align: middle;
  padding-left: 25px;
}

.Options .details .address .description {
  color: var(--green);
  font-weight: bold;
}

/**
 * Scoring Information
 */

.Options .scoring-information {
  padding: 16px;
  background-color: var(--mgreen);
  color: var(--darkergreen);
  line-height: 2em;
}

.Options .scoring-information i {
  padding-left: 5px;
  padding-right: 5px;
  color: var(--lightgreen);
}

.Options .scoring-information p {
  margin: 0;
}

.Options .scoring-information input {
  border: none;
  background-color: transparent;
  border-bottom: 1px dashed var(--lightgreen);
  width: auto;
  text-align: center;
  cursor: pointer;
  font-weight: var(--bold);
  font-size: 16px;
}

.Options .scoring-information strong {
  font-size: 16px;
}

.Options .scoring-information input[disabled] {
  border-bottom: none;
  color: var(--darkergreen);
  cursor: default;
}

.Options .scoring-information input:focus {
  outline: none;
}

/** Feedback on a route */

.Options .feedback {
  padding: 16px 16px 0;
}

/**
 * Font awesome rotations
 */

.fa-north {
  transform: rotate(270deg);
}

.fa-northeast {
  transform: rotate(315deg);
}

.fa-east {
}

.fa-southeast {
  transform: rotate(45deg);
}

.fa-south {
  transform: rotate(90deg);
}

.fa-southwest {
  transform: rotate(135deg);
}

.fa-west {
  transform: rotate(180deg);
}

.fa-northwest {
  transform: rotate(225deg);
}
