.leaflet-label {
    color: #111;
    font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: absolute;
    white-space: nowrap;
    text-shadow: -2px -2px 0 rgba(255, 255, 255, 0.5), 2px -2px 0 rgba(255, 255, 255, 0.5), -2px 2px 0 rgba(255, 255, 255, 0.5), 2px 2px 0 rgba(255, 255, 255, 0.5);
    margin-left: 10px;
    margin-top: -10px;
    outline: none;
}

.leaflet-label:focus {
   position: absolute;
   margin-left: 10px;
   margin-top: -10px;
   border: none !important;
   outline: none;
}

.leaflet-label.leaflet-clickable {
    cursor: pointer;
    pointer-events: auto;
    outline: none;
}

.leaflet-label:before,
.leaflet-label:after {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: none;
    position: absolute;
    top: 5px;
}

.leaflet-label:before {
    border-right: 6px solid black;
    border-right-color: inherit;
    left: -10px;
}

.leaflet-label:after {
    border-left: 6px solid black;
    border-left-color: inherit;
    right: -10px;
}

.leaflet-label-right:before,
.leaflet-label-left:after {
    content: "";
}


