
.Transitive {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.Transitive .transitive-line {
  stroke-linecap: round;
  filter: dropshadow(0 0 0 5px rgba(255, 255, 255, 0.5));
}

.Transitive .transitive-line-halo {
  opacity: 0.5;
}

.Transitive > .schematic-map .transitive-stop-label,
.Transitive > .schematic-map .transitive-multi-label,
.Transitive > .schematic-map .transitive-place-label {
  text-shadow: -2px -2px 0 rgba(255, 255, 255, 0.5),
                2px -2px 0 rgba(255, 255, 255, 0.5),
                -2px 2px 0 rgba(255, 255, 255, 0.5),
                 2px 2px 0 rgba(255, 255, 255, 0.5);
  visibility: hidden;
}

.Transitive > .schematic-map .transitive-place-circle {
  fill: none;
  stroke-width: 0;
}
