
.BetaBar {
  background-color: rgba(245, 168, 28, 0.8);
  width: 320px;
  color: #3F3019;
  padding: 8px;
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
}

.BetaBar a {
  color: #3F3019;
  font-weight: bold;
}

.BetaBar a:hover {
	color: var(--black);
	text-decoration: none;
}
