
.BetaBar {
  background-color: var(--gold);
  color: var(--dark-blue);
  padding: 8px;
  line-height: 16px;
}

.BetaBar a {
  color: var(--dark-blue);
  font-weight: var(--bold);
}

.BetaBar a:hover {
	color: var(--black);
	text-decoration: none;
}
