
.BetaBar {
  background-color: var(--gold);
  color: var(--dark-gold);
  padding: 8px;
  line-height: 16px;
  font-size: 14px;
  box-shadow: inset 0 0 2px var(--black);
}

.BetaBar a {
  color: var(--dark-gold);
  font-weight: var(--bold);
}

.BetaBar a:hover {
	color: var(--black);
	text-decoration: none;
}
