
#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.centered {
  text-align: center;
}

input {
  box-sizing: border-box;
}

button,
input[type=button] {
  background-color: #eee;
  border: none;
}
