
/**
 * Application variables
 */

:root {
  --black: #455a71;

  --gray: #84909d;
  --lightgray: #b5c1ce;
  --light-gray: #edeff0;
  --medium-blue: #cfe5f9;

  --light-blue: #e9f5ff;
  --darkest: #303d49;

  --darkergreen: #5e8428;
  --darkgreen: #719939;
  --green: #8ec449; --mgreen: #b4e37b;
  --lightgreen: #dcffb0;
  --lightergreen: #d6f1b4;
  --lightestgreen: #f4fce8;

  --red: #e21836;
  --gold: #F5A81C;

  --border-radius: 3px;

  --transition-speed: 0.10s;

  --font-size: 14px;
  --font-weight: 400;
  --bold: 600;
}

/**
 * Custom Media Queries
 */

@custom-media --narrow-window screen and (max-width: 400px);

/**
 * Application Styling
 */

body {
  -webkit-font-smoothing: antialiased;

  font-size: var(--font-size);
  font-weight: var(--font-weight);

  color: var(--black);
}

b, strong {
  font-weight: var(--bold);
}

a {
  color: var(--darkergreen);
}

a:active,
a:hover {
  color: color(var(--darkergreen) shade(20%));
}

.btn,
.btn:active,
.btn:focus,
.btn:hover,
.btn:visited {
  background: var(--gold);
  color: #fff;
  outline: none;
}

.btn:hover {
  background-color: color(var(--gold) shade(10%));
}

.btn:active {
  background-color: color(var(--gold) shade(20%));
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main,
.btn,
.dropdown-menu,
.form-control,
.input-group-addon {
  border-radius: var(--border-radius);
}

#main .Accounts {
  margin: 35px 0;
  padding-top: 35px;
  background-image: url(/images/logo/1074x170.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 35px;
}

.alert {
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

.centered {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight);
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

select {
  background: transparent;
  border: none;
  color: #fff;
  font-weight: 600;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  text-align: left;
}

select::-ms-expand {
  display: none;
}

select:focus {
  box-shadow: none;
  outline: none;
}

.fa-spin {
  animation: spin 1s infinite linear;
}
