
/**
 * Application variables
 */

:root {
  --black: #455a71;
  --vta-logo-back: #ddd;

  --buildings-color: #7c61a0;
  --land-color: #ecebeb;
  --park-color: #61c165;
  --street-color: #3fbfbf;
  --water-color: #c4e7f2;
  --metro-blue: #0076bf;

  --gray: #84909d;
  --lightgray: #b5c1ce;
  --light-gray: #edeff0;

  --lightest-blue: #f2f6f9;
  --light-blue: #e9f5ff;
  --medium-blue: #cfe5f9;
  --dark-blue: #384554;
  --darkest: #303d49;

  --button-green: #4b6a20;

  --darkergreen: #5e8428;
  --darkgreen: #719939;
  --green: #8ec449;
  --mgreen: #b4e37b;
  --lightgreen: #dcffb0;
  --lightergreen: #d6f1b4;
  --lightestgreen: #f4fce8;

  --red: #e21836;
  --gold: #F5A81C;
  --dark-gold: #4e3309;

  --border-radius: 3px;

  --transition-speed: 0.1s;

  --h3: 20px;

  --font-size: 14px;
  --font-weight: 400;
  --bold: 700;

  --panel-width: 320px;
}

/**
 * Custom Media Queries
 */

@custom-media --narrow-window screen and (max-width: 480px);

/**
 * Application Styling
 */

body {
  -webkit-font-smoothing: antialiased;

  font-size: var(--font-size);
  font-weight: var(--font-weight);

  color: var(--black);

  background-color: var(--gold); /* for the tint */
  background-image: linear-gradient(to bottom, var(--land-color) 0%, var(--land-color) 100%); /* for the body */
}

b, strong {
  font-weight: var(--bold);
}

a {
  color: var(--gold);
  text-decoration: none;
  font-weight: var(--bold);
  cursor: pointer;
}

a:active,
a:focus,
a:hover {
  color: color(var(--gold) shade(20%));
  text-decoration: none;
}

.btn,
.btn:active,
.btn:focus,
.btn:hover,
.btn:visited,
.introjs-button,
.introjs-button:active,
.introjs-button:focus,
.introjs-button:hover,
.introjs-button:visited {
  background: var(--gold);
  color: #fff;
  outline: none;
  border: none;
  border-radius: var(--border-radius);
}

.btn:hover,
.introjs-button:hover {
  background-color: color(var(--gold) shade(10%));
}

.btn:active,
.btn.active,
.introjs-button:active {
  background-color: color(var(--gold) shade(20%));
}

.btn-dark,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.btn-dark:visited {
  background: var(--dark-blue);
  color: #fff;
  outline: none;
  border: none;
}

.btn-dark:hover {
  background-color: color(var(--dark-blue) shade(20%));
}

.btn-dark.active,
.btn-dark:active {
  background-color: color(var(--dark-blue) shade(40%));
}

.btn-demph,
.btn-demph:active,
.btn-demph:focus,
.btn-demph:hover,
.btn-demph:visited {
  background: var(--gray);
  color: #fff;
  outline: none;
  border: none;
}

.btn-demph:hover {
  background-color: color(var(--gray) shade(10%));
}

.btn-demph:active {
  background-color: color(var(--gray) shade(20%));
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: var(--land-color);
}

#main,
.btn,
.dropdown-menu,
.form-control,
.input-group-addon {
  border-radius: var(--border-radius);
}

#main .Accounts {
  margin: 35px 0;
  padding-top: 35px;
  background-image: url(/images/application/nav-logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 35px;
}

.logo {
  background-image: url(/images/application/nav-logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.alert {
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

.centered {
  text-align: center;
}

.outline-text {
  text-shadow: -1px -1px 0 var(--black),
    1px -1px 0 var(--black),
    -1px 1px 0 var(--black),
     1px 1px 0 var(--black);
}

p, h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight);
  color: var(--darkest);
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

select {
  background: transparent;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  cursor: pointer;
  color: var(--gold);
  font-weight: var(--bold);
  padding: 8px 0 0;
  margin: 0 6px;

  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--gold);
}

select::-ms-expand {
  display: none;
}

select:focus {
  box-shadow: none;
  outline: none;
}

.fa-spin {
  animation: fa-spin 1s infinite linear;
}

/**
 * Font awesome rotations
 */

.fa-north {
  transform: rotate(270deg);
}

.fa-northeast {
  transform: rotate(315deg);
}

.fa-east {
}

.fa-southeast {
  transform: rotate(45deg);
}

.fa-south {
  transform: rotate(90deg);
}

.fa-southwest {
  transform: rotate(135deg);
}

.fa-west {
  transform: rotate(180deg);
}

.fa-northwest {
  transform: rotate(225deg);
}
