
body {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f2f4f5;
}

.main {
	border: 1px solid #84909d;
	background-color: #fff;
	padding-bottom: 15px;
}

table {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.nav {
	border-top: 6px solid #333;
}

.nav td {
	padding: 15px 15px 15px 10px;
}

h1 {
	padding-left: 20px;
	padding-right: 20px;
}

.email {
	padding: 10px;
	text-decoration:none;
	color: #84909d;
}

.button {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
	border-radius: 2px;
	background-color: #84909d;
}

.copy {
	line-height: 18px;
	color: #383b3d;
	margin-left: 20px;
	margin-right: 20px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #8ec449;
}

.address {
	padding-bottom: 7px;
	font-size: 20px;
	color: #8ec449;
	text-decoration:none;
}

.logos {
	margin-bottom: 15px;
	max-width: 100%;
}

.footer {
	padding: 15px;
	color: #4f555b;
	text-align: center;
}