
nav {
  background-color: var(--black);
  background-image: url(/images/logo/501x88.png);
  background-repeat: no-repeat;
  background-size: auto 24px;
  background-position: 8px 10px;
  height: 44px;
  cursor: pointer;
  width: 320px;
  position: absolute;
  top: 0;
  box-shadow: 0 2px 2px -1px var(--darkest);
  padding: 8px;
}

.dark-button {
  color: var(--light-blue);
  background-color: var(--darkest);
  border: none;
  border-radius: var(--border-radius);
  padding: 5px 4px;
}

.dark-button:active,
.dark-button:focus,
.dark-button:hover {
  color: color(var(--light-blue) shade(20%));
  background-color: color(var(--dark-blue) shade(20%));
  outline: none;
}
