
nav {
  background-color: var(--black);
  background-image: url(/images/logo/501x88.png);
  background-repeat: no-repeat;
  background-size: auto 28px;
  background-position: 8px;
  height: 44px;
  cursor: pointer;
  width: 320px;
  position: absolute;
  top: 0;
  box-shadow: 0 2px 2px -1px var(--darkest);
}

nav h3 {
  margin: 0 8px 0 0;
  line-height: 44px;
}

nav h3 i {
  font-size: 17px;
  padding-right: 5px;
  padding-top: 13px;
  vertical-align: top;
  text-shadow: 0px 1px 1px rgba(38,46,56,0.8);
}

nav h3 a {
  color: var(--light-blue);
  font-size: 12px;
  font-weight: bold;
  vertical-align: top;
  background-color: var(--darkest);
  padding: 8px 10px;
  border-radius: var(--border-radius)

}

nav h3 a:hover {
  color: color(var(--light-blue) shade(20%));
  background-color: color(var(--dark-blue) shade(20%));
  text-decoration: none;
}
