
nav {
  background-color: var(--black);
  background-image: url(/images/logo/501x88.png);
  background-repeat: no-repeat;
  background-size: auto 24px;
  background-position: 8px 10px;
  height: 44px;
  cursor: pointer;
  width: 320px;
  position: absolute;
  top: 0;
  box-shadow: 0 2px 2px -1px var(--darkest);
}

@media (--narrow-window) {
  nav {
    width: 100%;
  }
}

nav .show-menu {
  color: var(--light-blue);
  background: transparent;
  height: 44px;
  width: 44px;
  border: none;
  font-size: 18px;
}

nav .show-menu:active,
nav .show-menu:hover,
nav .show-menu:focus {
  color: color(var(--light-blue) shade(20%));
  outline: transparent;
}

nav .menu {
  position: absolute;
  list-style-type: none;
  right: 0;
  background-color: var(--black);
  padding-left: 0;
  border-bottom-left-radius: var(--border-radius);
  box-shadow: -2px 2px 2px -1px var(--darkest);
  margin-top: -2px;
}

nav .menu > li > a {
  padding: 10px;
  display: block;
}

nav .menu > li:last-of-type a {
  border-bottom: transparent;
}

.dark-button {
  color: var(--light-blue);
  background-color: var(--darkest);
  border: none;
  border-radius: var(--border-radius);
  padding: 5px 4px;
}

.dark-button:active,
.dark-button:focus,
.dark-button:hover {
  color: color(var(--light-blue) shade(20%));
  background-color: color(var(--dark-blue) shade(20%));
  outline: none;
}
