
nav {
  margin-top: 0;
  padding: 0;
  box-shadow: 0 0 7px #eee;
  background-color: #84909d;
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  background-size: auto 24px;
  background-position: 15px;
  height: 44px;
}

nav .btn-group {
  margin-top: 5px;
  margin-right: 15px;
}
