
.HelpMeChoose .multiplier-buttons {
  float: right;
}

.HelpMeChoose select {
  margin: 0 6px;
}

.FilterBy .btn-group>.btn:first-child {
  margin-left: 5px;
}

@media (--narrow-window) {
  .HelpMeChoose {
    padding: 0;
  }

  .HelpMeChoose p {
    display: none;
  }

  .HelpMeChoose form {
    padding-bottom: 12px;
  }

  .HelpMeChoose .form-group {
    margin-bottom: 10px;
  }

  .HelpMeChoose .btn-group {
    margin-bottom: 10px;
    margin-right: 1px;
  }

  .FilterBy .multiplier-buttons {
    float: left;
  }

  .FilterBy .btn-group>.btn:first-child {
    margin-left: 0;
  }
}

.ComparisonTable {
  white-space: nowrap;
}

.table-responsive {
  margin-top: 10px;
}

.ComparisonTable > tbody > tr > td,
.ComparisonTable > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}

.ComparisonTable td.route-summary {
  text-align: left;
}

.ComparisonTable td {
  background: rgba(255, 255, 255, 0);
}

.ComparisonTable th {
  font-size: 25px;
}

.ComparisonTable th.primaryFilter {
  color: var(--primary-color);
}

.ComparisonTable th.secondaryFilter {
  color: var(--secondary-color);
}
