
.Feedback {
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  padding: 15px;
  background-color: white;
}


.Feedback > h3 {
  margin-top: 0;
}

.Feedback > form > button {
  margin-top: 10px;
}
