
.FilterView > .time-filters {
  white-space: nowrap;
  padding-bottom: 8px;
  font-size: 15px;
}

@media (--narrow-window) {
  .FilterView > .time-filters > select {
    padding-left: 0;
    padding-right: 0;
  }
}

@-moz-document url-prefix() {
  .FilterView > .time-filters > select {
    width: 65px;
  }
}

.FilterView > .time-filters > label {
  color: var(--light-blue);
  font-weight: var(--font-weight);
  margin-bottom: 3px;
}

.FilterView > .mode-filters {
  display: inline-block;
}

.FilterView > .mode-filters > button {
  box-shadow: none;
  background-color: var(--green);
  color: var(--button-green);
  padding: 0;
  width: 44px;
  height: 44px;
  font-size: 28px;
  transition-property: background;
  transition-duration: 0.1s;
  text-shadow: none;
  position: relative;
}

.mode-filters i {
  font-size: 16px;
  position: absolute;
  top: 23px;
  left: 27px;
  color: var(--lightgreen);
  text-shadow: 0px 1px 3px rgba(75, 106, 32, 0.4);
  visibility: hidden;
}


.mode-filters > button.active {
  background-color: var(--green);
  color: var(--button-green);

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.mode-filters > button:hover,
.mode-filters > button:focus {
  background-color: var(--mgreen);
  color: var(--button-green);

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.mode-filters > button.active > i {
  visibility: visible;
}

.submit {
  margin-left: 4px;
  width: 112px;
  height: 44px;
  font-size: 20px;
  border: none;
}
