
.FilterView {
  color: var(--font-dark-background-color);
  font-size: 15px;
}

.FilterView > .time-filters {
  white-space: nowrap;
  padding-bottom: 8px;
}

.FilterView label {
  font-weight: var(--font-weight);
}

@media (--narrow-window) {
  .FilterView > .time-filters > select {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

@-moz-document url-prefix() {
  .FilterView > .time-filters > select {
    width: 65px;
  }
}

.FilterView > .time-filters > label {
  margin: 8px 1px 0;
}

.FilterView > .mode-filters {
  display: inline-block;
}

.FilterView > .mode-filters > button {
  box-shadow: none;
  background-color: var(--mode-button-background-color);
  color: var(--mode-button-icon-color);
  padding: 0;
  width: 44px;
  height: 44px;
  font-size: 28px;
  transition-property: background;
  transition-duration: 0.1s;
  text-shadow: none;
  position: relative;
}

.mode-filters i {
  font-size: 16px;
  position: absolute;
  top: 23px;
  left: 27px;
  color: var(--mode-button-check-color);
  text-shadow: 0px 1px 3px rgba(75, 106, 32, 0.4);
  visibility: hidden;
}


.mode-filters > button.active.btn-default {
  background-color: var(--mode-button-background-color);
  color: var(--mode-button-icon-color);

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.mode-filters > button:hover.btn-default,
.mode-filters > button:focus.btn-default {
  background-color: color(var(--mode-button-background-color) shade(20%));
  color: color(var(--mode-button-icon-color) shade(20%));

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.mode-filters > button.active > i {
  visibility: visible;
}

.submit {
  width: 40px;
  height: 44px;
  font-size: 20px;
  border: none;
}

.ExpandedSettings {
  margin-top: 8px;
}

.ExpandedSettings select {
  margin: 0 4px;
}

.ExpandedSettings-typeIcon {
  display: inline-block;
  font-size: 28px;
  vertical-align: middle;
  margin: 0 4px;
}

.ExpandedSettings input {
  display: inline-block;
  box-shadow: none;
  border: none;
  width: 51px;
  text-overflow: ellipsis;
  border-radius: 3px;
  margin: 0 4px;
  padding: 4px;
  color: var(--font-color);
}

.ExpandedSettings-bike,
.ExpandedSettings-walk {
  margin-top: 8px;
}

.ExpandedSettings-bike,
.ExpandedSettings-drive,
.ExpandedSettings-hide,
.ExpandedSettings.open .ExpandedSettings-show,
.ExpandedSettings-walk {
  display: none;
}

.ExpandedSettings-drive {
  margin-top: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 12px;
}

.ExpandedSettings.open .ExpandedSettings-bike,
.ExpandedSettings.open .ExpandedSettings-drive,
.ExpandedSettings.open .ExpandedSettings-hide,
.ExpandedSettings.open .ExpandedSettings-walk {
  display: block;
}
