
.FilterView > .time-filters {
  white-space: nowrap;
  padding-bottom: 8px;
  font-size: 15px;
}

@media (--narrow-window) {
  .FilterView > .time-filters > select {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

@-moz-document url-prefix() {
  .FilterView > .time-filters > select {
    width: 65px;
  }
}

.FilterView > .time-filters > label {
  color: var(--light-blue);
  font-weight: var(--font-weight);
  margin-bottom: 3px;
}

.FilterView > .mode-filters {
  margin-top: 5px;
  display: inline-block;
}

.FilterView > .mode-filters > button {
  box-shadow: none;
  background-color: var(--vta-dark-blue);
  color: var(--vta-light-gray);
  padding: 0;
  width: 44px;
  height: 44px;
  font-size: 28px;
  transition-property: background;
  transition-duration: 0.1s;
  text-shadow: none;
  position: relative;
}

.mode-filters i {
  font-size: 16px;
  position: absolute;
  top: 23px;
  left: 27px;
  color: var(--vta-light-blue);
  text-shadow: 0px 1px 3px rgba(75, 106, 32, 0.4);
  visibility: hidden;
}


.mode-filters > button.active {
  background-color: var(--vta-dark-blue);
  color: var(--vta-light-gray);

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.mode-filters > button:hover,
.mode-filters > button:focus {
  background-color: var(--vta-middle-blue);
  color: var(--vta-dark-gray);

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.mode-filters > button.active > i {
  visibility: visible;
}

.submit {
  margin-top: 5px;
  margin-left: 4px;
  width: 84px;
  height: 44px;
  font-size: 20px;
  border: none;
}

.btn-default.icon-parknride {
    background-image: url(/images/application/parknride_alpha.png);
    background-size: 33px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 7px;
}

.btn-default.icon-parknride:hover {
    background-image: url(/images/application/parknride_alpha_dark.png);
    background-size: 33px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 7px;
}

#datepicker {
    display: inline-block;
    margin: 0 5px;
}

#datepicker .ui-datepicker {
    position: absolute;
    z-index: 1000;
    left: 10px;
    background: none;
    background-color: #00587B;
    color: #fff;
}

#datepicker .ui-datepicker .ui-datepicker-header {
    background: none;
    background-color: #CFE5EB;
    color: #666666;
}

#datepicker .ui-state-default,
#datepicker .ui-widget-content .ui-state-default,
#datepicker .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: none;
    background-color: #fff;
    border-radius: 3px;
}