
.filter-view {
  width: 100%;
}

.time-filters {
  width: 100%;
  white-space: nowrap;
  padding-bottom: 8px;
}

@media (--narrow-window) {
  .time-filters select {
    padding-left: 0;
    padding-right: 0;
  }
}

.time-filters select {
  cursor: pointer;
  color: var(--gold);
  font-weight: var(--bold);
  font-size: 15px;
  padding: 8px 2px 0;
  border-bottom: 1px solid var(--gold);
}

@-moz-document url-prefix() {
  .time-filters select {
    width: 65px;
  }
}

.time-filters label {
  color: var(--light-blue);
  font-size: 15px;
  font-weight: var(--font-weight);
  margin-bottom: 3px;
}

.mode-filters {
  display: inline-block;
  border-radius: var(--border-radius);
}

.mode-filters a {
  background-color: var(--green);
  text-align: center;
  cursor: pointer;
  width: 48px;
  height: 44px;
  font-size: 30px;
  padding-top: 7px;
  border-radius: var(--border-radius);
  display: inline-block;
  transition-property: background;
  transition-duration: 0.1s;
  color:  #4b6a20;
  border: none;
  text-shadow: none;
  position: relative;
}

.mode-filters i {
  font-size: 18px;
  position: absolute;
  top: 23px;
  left: 30px;
  color: var(--lightgreen);
  text-shadow: 0px 1px 3px rgba(75, 106, 32, 0.4);
  padding-right: 10px;
  margin: 0;
  padding: 0;
  visibility: hidden;
}


.mode-filters a.active {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
    color: #4b6a20;
    background-color: var(--green);
}

.mode-filters a:hover,
.mode-filters a:focus {
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #4b6a20;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  text-decoration: none;
  background-color: var(--mgreen);
}

.mode-filters a.active i {
  visibility: visible;
}

.submit {
  float: right;
  width: 88px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  border: none;
}
