
.detailed-options .routes {
  padding-left: 0;
  margin-bottom: 0;
}

.detailed-options .route {
  border-bottom: 1px solid #84909d;
  color: #333;
  list-style-type: none;
}

.detailed-options .route:last-of-type {
  border-bottom: none;
}

/**
 * Summary
 */

.detailed-options .summary {
  cursor: pointer;
  width: 100%;
}

.detailed-options .summary-time,
.detailed-options .summary-walk-distance {
  width: 20%;
}

.detailed-options .summary p {
  margin: 0;
  line-height: 14px;
}

.detailed-options .summary-segments {
  width: 60%;
}

.detailed-options .summary .segment {
  display: inline-block;
  text-align: left;
  padding: 4px 5px 0;
  box-sizing: border-box;
  height: 41px;
}

.detailed-options .segment svg {
  width: 25px;
  height: 32px;
}

.detailed-options .segment.white svg {
  fill: #fff;
}

.detailed-options .segment .name {
  padding: 0 5px 0 0;
  line-height: 36px;
  float: right;
}

.detailed-options .cost,
.detailed-options .value,
.detailed-options .units {
  text-align: center;
  line-height: 1.0em;
}

.detailed-options .cost,
.detailed-options .value {
  font-weight: 500;
  font-size: 1.2em;
}

/**
 * Details
 */

.detailed-options .details {
  width: 100%;
  border-top: 1px solid #ccc;
  box-shadow: 0 7px 7px -7px #eee inset;
}

.detailed-options .details .from {
  color: #8ec449;
}

.detailed-options .details .to {
  color: #d9534f;
}

.detailed-options .details tr {
  margin: 0 8px;
  border-bottom: 1px solid #eee;
}

.detailed-options .details tr:last-of-type {
  border-bottom: none;
  box-shadow: 0 -7px 7px -7px #eee inset;
}

.detailed-options .details td {
  vertical-align: middle;
  padding: 4px;
}

.detailed-options .details td:last-of-type {
  padding-right: 8px;
}

.detailed-options .details td p {
  margin-bottom: 4px;
}

.detailed-options .details td p:last-of-type {
  margin-bottom: 0;
}

.detailed-options .details .stop-name {
  font-weight: 400;
}

.detailed-options .details .detail-icon {
  height: 100%;
  font-size: 2em;
  background-repeat: repeat-y;
  background-position: center;
}

.detailed-options .details .detail-icon svg {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

.detailed-options .detail-icon, .detail-time {
  text-align: center;
}
