
.detailed-options .routes {
  margin-top: 20px;
  padding-left: 0;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.detailed-options .route {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  margin-left: 0;
  margin-right: 0;
  color: #333;
  text-align: center;
}

.detailed-options .route:last-of-type {
  border-bottom: none;
}

.detailed-options .time {
  border-left: 1px solid #ccc;
  font-variant: small-caps;
  line-height: 0.8em;
  font-weight:bold;
  font-size: 1em;
  color:#333;
  padding-top: 14px;
  padding-bottom: 14px;
}

.detailed-options .summary {
  color: #333;
  padding-top:14px;
}
