
.simple-options .routes {
  padding-left: 0;
}

.simple-options .route {
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px 0 0;
  color: #333;
  text-align: center;
}

.simple-options .route .row {
  margin-left: 0;
  margin-right: 0;
}

.simple-options .route:last-of-type {
  border-bottom: none;
}

.simple-options .time {
  border-right: 1px solid #ccc;
  font-variant: small-caps;
  line-height: 0.8em;
  font-weight:bold;
  font-size: 1em;
  color:#333;
  padding-top: 10px;
  padding-bottom: 10px;
}

.simple-options .time span {
  width: 50%;
  display: inline-block;
}

.simple-options .time:last-of-type {
  border-right: none;
}

.simple-options .time.svg-icon {
  padding-right: 26px;
  padding-left: 0;
  background-position: right center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.simple-options .summary {
  color: #333;
  border-top: 1px solid #ccc;
  text-align: left;
  padding: 5px 10px;
}

.simple-options .summary .svg-icon {
  margin-left: -5px;
}

.simple-options .summary .segment {
  padding: 5px 0;
}
