
.MapView {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.amigocloud-attribution-logo {
  left: inherit;
  bottom: 15px;
  right: 10px;
}

.amigocloud-attribution-logo img {
  vertical-align: inherit;
}

.leaflet-control-layers-separator,
.leaflet-control-layers-overlays {
  display: none;
}




@-webkit-keyframes fade_jona {
    0% {
        opacity: 0.99;
        color:#2B2922;
    }

    100% {
        opacity: 0.30;
        color:#000000;
    }
}


@-webkit-keyframes fade-out {
0% { opacity: 0.80;}
50% { opacity: 0.60;}
100% {opacity:0.40;}
}

.fade-out {
    -webkit-animation: fade-out .3s ease-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    width: 100px;
    height: 100px;
    opacity: 0.99;
       -moz-box-shadow: 2px 2px 16px #fff;
    -webkit-box-shadow: 2px 2px 16px #fff ;
     box-shadow:2px 2px 16px #fff;
}

/* .fade-out.one {-webkit-animation-delay: .5s;}
.fade-out.two {-webkit-animation-delay: 1.5s;}
.fade-out.three {-webkit-animation-delay: 2.5s;} */
.fade-out .four {-webkit-animation-delay: 0.1s;}

.message_ {
    -webkit-animation: fade_jona 1s;
    -webkit-animation-fill-mode: both;
}


.leaflet-div-icon1 {
  background: rgba(255, 255, 255, 0.5);
  border:2px solid black;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  outline: none;
  width: 15px;
  height: 15px;
}

.leaflet-div-icon2 {
    background: white;
    border: 2px solid #ccc;
    text-align: center;
    border-radius: 50%;
    filter: alpha(opacity=50);
    opacity: 0.5;
    outline: none;
}

.leaflet-div-icon2 .leaflet-label{
    visibility: hidden;
    opacity: 0;
}



.legend-fadeout{
  -webkit-opacity: 1;
  -moz-opacity: 1;
  color: #E0E0E0;
  stroke: #E0E0E0;
  border: none !important;
  zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.stops-icon {
  background: rgba(255, 255, 255, 0.5);
  border:2px solid black;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  outline: none;
  width: 15px;
  height: 15px;
}


.stop-popup .leaflet-popup-content-wrapper {
  border-radius: 5px;
}

.stop-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 10px;
}

.stop-popup .leaflet-popup-content-wrapper .leaflet-popup-content .stop-loading {
  text-align: center;
  background: #fff;
  padding: 5px 0;
}

.stop-popup .leaflet-popup-close-button {
  background: #A2002F !important;
  top: 5px !important;
  right: 5px !important;
  width: auto !important;
  border-radius: 2px !important;
  color: #fff !important;
  padding: 0 !important;
  display: none !important;
}

.stop-popup-content .popup-body {
  padding: 5px;
}

.stop-popup-content .popup-body ul {
  padding-left: 20px;
  margin-bottom: 0;
}
