
.MapView {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.amigocloud-attribution-logo {
  left: inherit;
  bottom: 15px;
  right: 10px;
}

.amigocloud-attribution-logo img {
  vertical-align: inherit;
}

.leaflet-control-layers-separator,
.leaflet-control-layers-overlays {
  display: none;
}




@-webkit-keyframes fade_jona {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0.90;
    }

    50% {
        opacity: 0.70;
    }

    70% {
        opacity: 0.50;
    }

    90% {
        opacity: 0.30;
    }

    100% {
        opacity: 0.30;
    }
}

.message_ {
    -webkit-animation: fade_jona 3s;
    -webkit-animation-fill-mode: both;
}


.leaflet-div-icon1 {
  background: rgba(255, 255, 255, 0.5);
  border:2px solid black;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;

}

.leaflet-div-icon2 {
  background: white;
  border: 2px solid #ccc;
  text-align:center;
  border-radius:50%;
  -webkit-animation: fade_jona;
  -webkit-animation-fill-mode: both;
 -webkit-box-shadow: 0px -1px 4px 2px rgba(153,153,153,0.29);
-moz-box-shadow: 0px -1px 4px 2px rgba(153,153,153,0.29);
box-shadow: 0px -1px 4px 2px rgba(153,153,153,0.29);
}