
.MapView {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.amigocloud-attribution-logo {
  left: inherit;
  bottom: 15px;
  right: 10px;
}

.amigocloud-attribution-logo img {
  vertical-align: inherit;
}

.leaflet-control-layers-separator,
.leaflet-control-layers-overlays {
  display: none;
}




@-webkit-keyframes fade_jona {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0.90;
    }

    50% {
        opacity: 0.70;
    }

    70% {
        opacity: 0.50;
    }

    90% {
        opacity: 0.30;
    }

    100% {
        opacity: 0.30;
    }
}

.message_ {
    -webkit-animation: fade_jona;
    -webkit-animation-fill-mode: both;
}


.leaflet-div-icon2
{
  background:red;
  border:5px solid rgba(255,255,255,0.5);
  color:blue;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
}