
.routes {
  margin-top: 20px;
  padding-left: 0;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.route {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  margin-left: 0;
  margin-right: 0;
  color: #333;
  text-align: center;
}

.route:last-of-type {
  border-bottom: none;
}

.time {
  border-right: 1px solid #ccc;
  font-variant: small-caps;
  line-height: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.summary {
  line-height: 43px;
}
