
.RouteSummary {
  position: relative;
}

.RouteSummary > .segments {
  display: inline-block;
  padding: 8px 0 0 8px;
}

.RouteSummary > .segments .mode {
  font-size: 25px;
  color: var(--black);
  display: inline-block;
  vertical-align: top;
}

.RouteSummary > .segments > .segment > .fa-caret-right {
  display: none;
}

.RouteSummary > .segments .fa-caret-down {
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: -8px;
  margin-bottom: -4px;
}

.RouteSummary > .segments .segment:last-of-type .fa-caret-down {
  display:none;
}

.shield {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  height: 20px;
  border-radius: var(--border-radius);
  font-weight: var(--bold);
}

.RouteSummary > .segments .shield {
  margin-left: 6px;
  margin-top: 6px;
  width: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.RouteSummary > .minutes-column {
  padding-top: 10px;
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  line-height: 18px;
  white-space: nowrap;
  color: var(--gray);
}


.RouteSummary > .minutes-column > .heading {
  margin: 0 0 8px;
  color: var(--black);
  font-size: var(--h3);
}

/**
 * Benefits Badge
 */

.RouteSummary > .benefits-badge {
  padding-left: 5px;
  float: right;
  color: #4b6a20;
  width: 95px;
  font-size: 13px;
  line-height: 1;
  text-align: right;
  margin-right: -2px;
  cursor: pointer;
  padding: 11px 11px 8px 15px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.RouteSummary > .benefits-badge.savings {
  background-image: url(/images/comparison_graphics/ribbon.png);
  background-repeat: no-repeat;
}

.RouteSummary >.benefits-badge.time-savings {
    background-image: url(/images/comparison_graphics/time-ribbon.png);
    background-repeat: no-repeat;
}

.RouteSummary .select-button {
  background-color: var(--gold);
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  width: 70px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 14px;
  float: right;
  border-radius: var(--border-radius);
}
