
.graphical-options .routes {
  padding-left: 0;
}

.graphical-options .route {
  list-style-type: none;
  margin-top: 20px;
}

.graphical-options .segment {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
  text-align: center;
}
