
body {
  color: #333;
}

.btn.pull-right {
  margin-left: 10px;
}

table .label {
  font-size: 100%;
  font-weight: normal;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}
