
@import url("node_modules/normalize.css/normalize.css");
@import url("node_modules/bootstrap/dist/css/bootstrap.css");
@import url("node_modules/font-awesome/css/font-awesome.css");
@import url("node_modules/leaflet-markercluster/MarkerCluster.css");
@import url("node_modules/leaflet-markercluster/MarkerCluster.Default.css");
@import url("node_modules/mapbox.js/theme/style.css");
@import url("node_modules/pikaday/css/pikaday.css");
@import url("components/conveyal/modeify-icons.css/0.0.1/icons.css");
@import url("components/conveyal/transitive.js/master/style.css");
@import url("CONFIG_PATH/style.css");

@import url("components/segmentio/modal/0.4.1/lib/index.css");
@import url("components/segmentio/overlay/0.2.4/lib/index.css");

@import url("client/commute-analysis-page/style.css");
@import url("client/confirm-modal/style.css");
@import url("client/location-form/style.css");
@import url("client/location-page/style.css");
@import url("client/location-suggest/style.css");
@import url("client/map/style.css");
@import url("client/modal/style.css");
@import url("client/service-alerts-page/style.css");
@import url("client/user-activity-page/style.css");

:root {
  --border-radius: 3px;
  --gray: #84909d;
  --black: #455a71;
  --light-blue: #e9f5ff;
  --gold: #F5A81C;
  --darkest: #303d49;
}


.nopadding {
  padding-left: 0px;
  padding-right: 0px;
}

/**
 * Custom Media Queries
 */

@custom-media --narrow-window screen and (max-width: 400px);

body {
  color: #333;
}

.btn.pull-right {
  margin-left: 10px;
}

table .label {
  font-size: 100%;
  font-weight: normal;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}
