
.commuter-profile h3 {
  margin: 0;
}

.commuter-profile .alert-warning {
  margin-top: 10px;
}

.commuter-profile .email {
  font-size: var(--font-size);
}

.commuter-profile h3 .fa {
  float: right;
  font-size: 20px;
  color: var(--gray)
}

.commuter-profile h3 .fa:hover,
.commuter-profile h3 .fa:active {
  color: color(var(--gray) shade(20%));
}

.commuter-profile h4 {
  margin: 25px 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--white);
}

.commuter-profile h4 .subtitle {
  font-size: var(--font-size);
  color: var(--gray);
}

.commuter-profile form > button {
  margin-top: 10px;
}

.commuter-profile .form-control {
  border: 1px solid var(--gray);
  color: var(--green);
  outline: none;
  display: inline-block;
}

.commuter-profile .speed-preference button {
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0;
  border: none;
  font-size: 40px;
  line-height: 0;
  width: 50px;
  height: 50px;
  color: var(--white);
  margin-right: 20px;
  outline: none;
}

.commuter-profile .speed-preference button:hover {
  color: var(--green);
  outline: none;
  border-radius: 50%;
}

.commuter-profile .speed-preference button.selected {
  color: var(--lightgreen);
  outline: none;
  background-color: var(--green);
  border-radius: 50%;
}

.commuter-profile .bike-speed p {
  margin-top: 20px;
}

.commuter-profile .speed-preference > div {
  text-align: center;
}

.commuter-profile .speed-preference > div > p {
  text-align: left;
}

.commuter-profile .speed-preference .speed-description {
  margin-bottom: 15px;
}

/**
 * Journeys
 */

.commuter-profile .journeys {
  padding-left: 0;
}

.commuter-profile .journey {
  width: 100%;
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #84909d;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 1px #84909d;
  position: relative;
}

.commuter-profile .journey:hover {
  padding-left: 4px;
  border-left: 5px solid var(--black);
}

.commuter-profile .journey div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: #8ec449;
}

.commuter-profile .journey div i {
  color: var(--black);
  font-size: 16px;
}

.commuter-profile .journey button {
  display: none;
  position: absolute;
  top: 0;
  right: -1px;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 20px;
  background-color: var(--gray);
  padding-right: 20px;
  border: none;
}

.commuter-profile .journey:hover button {
  display: block;
}

.commuter-profile .journey button:hover {
  background-color: color(var(--gray) shade(20%));
}

.commuter-profile .from {
  margin-top: 5px;
  color: var(--black);
}

.commuter-profile .to {
  color: var(--black);
}

.commuter-profile .walk-time-preference form {
  text-align: center;
  padding-bottom: 15px;
}
