
.CommuterProfile {
  margin-bottom: 30px;
}

.CommuterProfile h3 {
  margin: 0;
}

.CommuterProfile .alert-warning {
  margin-top: 10px;
}

.CommuterProfile .email {
  font-size: var(--font-size);
}

.CommuterProfile h4 {
  margin: 25px 0 10px;
  padding-bottom: 5px;
}

.CommuterProfile h4 .subtitle {
  font-size: var(--font-size);
  color: var(--gray);
}

.CommuterProfile form > button {
  margin-top: 10px;
}

.CommuterProfile .form-control {
  border: 1px solid var(--gray);
  color: var(--black);
  outline: none;
  display: inline-block;
}
