
.commuter-profile {
  width: 620px;
  height: 600px;
  border: 1px solid var(--black);
}

.commuter-profile h3 {
  margin: 15px 15px;
  font-size: 22px;
  color: var(--black);
}

.commuter-profile small {
  font-weight: 300;
  font-size: 12px;
  color: var(--black);
}

.commuter-profile .fa-times-top {
  float: right;
  color: var(--gray);
  font-size: 20px;
  margin: 15px;
}

.commuter-profile h4 {
  margin: 10px 15px;
  font-weight: bold;
  font-size: 16px;
  color: var(--black);
  padding-bottom: 2px;
  border-bottom: 1px solid var(--white);
}

.commuter-profile .alert {
  border-left: none;
  padding: 5px 25px;
}

.commuter-profile .alert-danger {
  background-color: #fff;
  border: none;
  color: var(--gray);
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.commuter-profile .alert-warning {
  background-color: #fff;
  border: none;
  color: var(--gray);
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.commuter-profile .alert-link {
  background-color: #fff;
  border: none;
  color: var(--gray);
  font-size: 14px;
  line-height: 17px;
}

.commuter-profile form {
  padding: 0 10px 0;
  outline: none;
}

.commuter-profile .classa.btn {
  background-color: var(--gray);
  border: none;
  width: 15%;
  display: inline-block;
  text-align: center;
  height: 30px;
  line-height: 0;
  font-size: 20px;
  margin: 0;
  vertical-align: top;
  border-radius: 2px;
  font-weight: bold;
}

.commuter-profile .form-control {
  margin-left: 15px;
  border: 1px solid var(--gray);
  color: var(--green);
  font-size: 14px;
  font-weight: 300;  
  width: 60%;
  height: 30px;
  outline: none;
  display: inline-block;
}

.commuter-profile input {
  margin-bottom: 10px;
}

.commuter-profile .speed-preference div {
  text-align: center;
}

.commuter-profile .speed-preference button {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-size: 100% 100%;
  background-position: center center;
  font-size: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  outline: none;
}

.commuter-profile .speed-preference button.selected {
  background-color: #8ec449;
}

.commuter-profile .journeys {
  padding-left: 0;
}

.commuter-profile .journey {
  width: 85%;
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #84909d;
  box-shadow: 1px 1px 1px #84909d;
  margin-right: 10px;
}

.commuter-profile .journey:hover {
  padding-left: 6px;
  border-left: 5px solid var(--black);
}

.commuter-profile .journey div {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: #8ec449;
}

.commuter-profile .journey div i {
  color: var(--black);
  font-size: 16px;
}

.commuter-profile .journey button {
  display: none;
  position: absolute;
  right: 25px;
  height: 72px;
  margin-top: -10px;
}

.commuter-profile .journey:hover button {
  display: block;
  margin-right: 20px;
  width: 20px;
  background-color: var(--gray);
  padding-right: 20px;
  border: none;
}

.commuter-profile .from {
  color: #333;
}

.commuter-profile .to {
  color: #333;
}

.commuter-profile .walk-time-preference form {
  text-align: center;
  padding-bottom: 15px;
}

.Modal {
  background-color: white;
  top: 54px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: none;
}

.Modal.hide {
  opacity: 0;
}

.Overlay {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.55) 100%);
  z-index: 151;
}
