
.Transitive {
  position: absolute;
  height: 100%;
  width: 100%;
}

.Transitive .legend {
  position: absolute;
  height: 35px;
  border: 1px solid #84909d;
  left: -1px;
  bottom: 43px;
  width: 100px;
  background-color: #fff;
  box-shadow: 0 0 7px #eee;
  z-index: 150;
}

.Transitive .map-zoom {
  position: absolute;
  height: 35px;
  right: -1px;
  bottom: 43px;
  z-index: 150;
}

.Transitive .map-zoom button {
  color: #fff;
  background-color: #8ec449;
  border: none;
  padding: 6px 12px;
}

.Transitive .map-zoom button:hover,
.Transitive .map-zoom button:active {
  background-color: #7aae38;
  outline: none;
}

.Transitive .transitive-line {
  stroke-linecap: round;
}
