
.Transitive {
  position: absolute;
  height: 100%;
  width: 100%;
}

.Transitive > .legend {
  position: absolute;
  height: 35px;
  border: 1px solid #84909d;
  left: -1px;
  bottom: 43px;
  width: 100px;
  background-color: #fff;
  box-shadow: 0 0 7px #eee;
  z-index: 150;
}

.Transitive .transitive-line {
  stroke-linecap: round;
}
