
.Transitive {
  position: absolute;
  height: 100%;
  width: 100%;
}

.Transitive .legend {
  position: absolute;
  height: 35px;
  border: 1px solid var(--black);
  border-radius: var(--border-radius);
  left: 8px;
  bottom: 8px;
  width: 100px;
  background-color: #fff;
  z-index: 150;
}

.Transitive .legend svg {
  width: 100%;
}

.Transitive .map-zoom {
  position: absolute;
  height: 35px;
  left: 8px;
  top: 8px;
  z-index: 150;
}

.Transitive .map-zoom button {
  color: #fff;
  background-color: var(--gray);
  border: none;
  border-radius: var(--border-radius);
  padding: 7.5px 12px;
}

.Transitive .map-zoom button:hover,
.Transitive .map-zoom button:active,
.Transitive .map-zoom button:focus {
  background-color: color(var(--green) shade(20%));
  outline: none;
}

.Transitive .transitive-line {
  stroke-linecap: round;
  filter: dropshadow(0 0 0 10px rgba(255, 255, 255, 0.5));
}

.Transitive .transitive-line-halo {
  opacity: 0.5;
}

.Transitive > .schematic-map .transitive-stop-label,
.Transitive > .schematic-map .transitive-multi-label,
.Transitive > .schematic-map .transitive-place-label {
  text-shadow: -2px -2px 0 rgba(255, 255, 255, 0.5),
                2px -2px 0 rgba(255, 255, 255, 0.5),
                -2px 2px 0 rgba(255, 255, 255, 0.5),
                 2px 2px 0 rgba(255, 255, 255, 0.5);
}
