
.RouteComparisonTable {
  padding-bottom: 10px;
}

.RouteComparisonTable .heading {
  text-align: left;
}

.RouteComparisonTable > div {
  padding: 4px;
}

.RouteComparisonTable .compare-item {
	background-color: var(--medium-blue);
	border-radius: var(--border-radius);
	margin-top: 3px;
	width: 100%;
}

.RouteComparisonTable .money-icon {
		background-color: var(--lightest-blue);
		background-image: url(/images/comparison_graphics/money.png);
		background-repeat: no-repeat;
		padding: 3px;
		border-radius: var(--border-radius);
		width: 55px;
		height: 30px;
		display: inline-block;
		margin: 2px;
		vertical-align: middle;
	}

.RouteComparisonTable .fa-dollar {
  color: var(--green);
}

.RouteComparisonTable .fa-calendar {
  color: var(--gold);
}

.RouteComparisonTable .fa-heart {
  color: var(--red);
  background-color: var(--lightest-blue);

}

.RouteComparisonTable .fa-globe {
  color: var(--metro-blue);
}
