
.WelcomeLocations .Locations {
  padding: 0;
  background-color: #fff;
  margin: 15px 0;
}

.WelcomeLocations .Locations input {
  border: 1px solid var(--black);
}

.WelcomeLocations .Locations .suggestions {
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
}

.WelcomeLocations .Locations [class*="icon-"] {
  top: 10px;
  left: 8px;
}

.WelcomeLocations .Locations .clear {
  top: 16px;
}

.WelcomeLocations button {
  margin-top: 15px;
}

.WelcomeLocations button .loading-text {
  display: none;
}

.WelcomeLocations button.loading .loading-text {
  display: inline;
}

.WelcomeLocations button.loading .find-text {
  display: none;
}
