.WelcomeLocations {
  text-align: left;
  font-size: 16px;
}

.WelcomeLocations .locations {
  padding: 0;
}

.WelcomeLocations .locations input {
  width: 230px;
}

.WelcomeLocations p {
  margin: 15px 0;
}

.WelcomeLocations button {
	margin-top: 10px;
}
