.RouteCostCalculator {
  padding: 12px 16px;
  background-color: var(--vta-light-blue);
  color: var(--vta-dark-gray);
  line-height: 22px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.RouteCostCalculator a {
  color: var(--darkergreen);
}

.RouteCostCalculator a:active,
.RouteCostCalculator a:focus,
.RouteCostCalculator a:hover {
  color: color(var(--darkergreen) shade(20%));
}

.RouteCostCalculator input {
  border: none;
  background-color: transparent;
  border-bottom: 2px dotted var(--vta-middle-blue);
  text-align: center;
  cursor: pointer;
  font-weight: var(--bold);
  height: 22px;
}

.RouteCostCalculator input:focus {
  outline: none;
}